<!DOCTYPE html>
<html>
<head>
	<title> SO COOL </title>
</head>
<body>
    <h1>THIS IS LIT</h1>
    <h2>This requires a password: </h2> 
    <script src="https://fast.wistia.com/embed/medias/p7rles9sni.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_p7rles9sni popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:84px;position:relative;width:150px">&nbsp;</span>
    <br>
    <h2>This doesn't require a password: </h2>
    <script src="https://fast.wistia.com/embed/medias/seg3br72iq.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_seg3br72iq popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:84px;position:relative;width:150px">&nbsp;</span>
</html>